.selected {
  background-color: teal;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem;
  background: white;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
}
