<ul>
  <li *ngFor="let v of videoList">
    <button [class.selected]="v === currentVideo" (click)="setSelectedVideo(v)">
      <app-video-list-item [video]="v"></app-video-list-item>
    </button>
  </li>
</ul>
