<form [formGroup]="videoForm" (ngSubmit)="logTheForm()">
  <label for="title">Title</label>
  <input type="text" formControlName="title" id="title" />
  <label for="author">Author</label>
  <input type="text" formControlName="author" id="author" />
  <button [disabled]="!videoForm.valid">Submit</button>
</form>
